set default="1"

function load_video {
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
insmod chain

set timeout=60
### END /etc/grub.d/00_header ###


 search --no-floppy --set=root -l '@ISOLABEL@'

 menuentry 'Install @PRODUCT@ @VERSION@' --class qubes --class gnu-linux --class gnu --class os {
        multiboot2 @XENPATH@ console=none
        module2 @KERNELPATH@ @ROOT@ plymouth.ignore-serial-consoles quiet
        module2 @INITRDPATH@
 }

 menuentry 'Test media and install @PRODUCT@ @VERSION@' --class qubes --class gnu-linux --class gnu --class os {
        multiboot2 @XENPATH@ console=none
        module2 @KERNELPATH@ @ROOT@ plymouth.ignore-serial-consoles rd.live.check quiet
        module2 @INITRDPATH@
 }

 menuentry 'Troubleshooting - verbose boot and Install @PRODUCT@ @VERSION@' --class qubes --class gnu-linux --class gnu --class os {
        multiboot2 @XENPATH@ loglvl=all
        module2 @KERNELPATH@ @ROOT@
        module2 @INITRDPATH@
 }

 menuentry 'Rescue a @PRODUCT@ system' --class qubes --class gnu-linux --class gnu --class os {
        multiboot2 @XENPATH@ console=none
        module2 @KERNELPATH@ @ROOT@ rescue quiet
        module2 @INITRDPATH@
 }
